<div class="section-grid group fourth-section">

	<div class="about-the-band-container">
		<p>About The Band</p>
		<div>
			<%= image_tag("groupphotobio.png", alt: "Band Group Photo") %>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
			</p>
		</div>
	</div>
	
</div>

<div class="secion-grid group">

	<div class="col span_2_of_2">
		<div class="members-bios-container">
			<p>Members Bios</p>
			<div>
				<div class="geoff-section">
					<a href="#" class="member-photos">
						<%= image_tag("geoff_browning.png", alt: "Geoff Browning") %>
					</a>
					<div class="geoff-info-js">
						<div>About Geoff <br /> Vocals & Guitar
							<a href="#" class="geoff-x">X</a>
						</div>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes nascetur, dolor sit amet, consectetur adipiscing elit.
						</p>
					</div>
				</div>
				<div class="carter-section">
					<a href="#" class="member-photos">
						<%= image_tag("carter_jones.png", alt: "Carter Jones") %>
					</a>
					<div class="carter-info-js">
						<div>About Carter <br /> Bass
							<a href="#" class="carter-x">X</a>
						</div>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes nascetur, dolor sit amet, consectetur adipiscing elit.
						</p>
					</div>
				</div>
				<div class="jasper-section">
					<a href="#" class="member-photos">
						<%= image_tag("jasper.png", alt: "Jasper") %>
					</a>
					<div class="jasper-info-js">
						<div>About Jasper <br /> Drums
							<a href="#" class="jasper-x">X</a>
						</div>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes nascetur, dolor sit amet, consectetur adipiscing elit.
						</p>
					</div>
				</div>
				<div class="nik-section">
					<a href="#" class="member-photos">
						<%= image_tag("nik_sus.png", alt: "Nik Sus") %>
					</a>
					<div class="nik-info-js">
						<div>About Nik <br /> Guitar & Vocals
							<a href="#" class="nik-x">X</a>
						</div>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes nascetur, dolor sit amet, consectetur adipiscing elit.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>