<div class="section-grid group first-section">
	<div class="col span_2_of_4">
		<div class="video">
			<p>Featured Video</p>
	  	<iframe src="//www.youtube.com/embed/<%= @main.video_url %>" frameborder="0" background="black" allowfullscreen></iframe>
	  </div>
	</div>
	<div class="col span_2_of_4 signup-section">
		<div class="sign-up-div">
		  	<h3>sign up FOR A FREE Download</h3>
		  	<h2>of "Song Name" from our</h2>
		  	<h1>album Farmalade</h1>
	  	<form class="sign-up-form">
	      <input placeholder=" Enter e-mail address" type="email" id="email-field" />
	  		<input type="submit" value="SIGN UP" />
	    </form>
	 	</div>
	</div>
</div>

<div class="section-grid group">
	<div class="col span_2_of_4">
		<div class="songkick">
		 	<p>Tour Dates</p>
		 	<%= image_tag("songkick.png") %>
		 	<% @songkick_data.each do |songkick| %>
			 	<div>
			 		<ul>
			 			<li>
			 				<%= songkick["start"]["date"] %>
			 				<br/>
			 				<%= songkick["venue"]["displayName"] %>
			 			</li>
			 			<li><%= songkick["location"]["city"] %></li>
			 			<li><button><a href="<%= songkick['uri'] %>" target='_blank'>Tickets</a></button></li>
			 		</ul>
			 	</div>
			<% end %>
	 	</div>
	</div>
	<div class="col span_2_of_4">
		<div class="twitter-feed">
			<p>Twitter Updates</p>
			<a class="twitter-timeline" href="https://twitter.com/BSideShuffle" data-widget-id="554770742152544256">Tweets by @BSideShuffle</a>
		</div>
	</div>
</div>