<!DOCTYPE html>
<html>
<head>
  <title>Bsideshuffle</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
  <ul id="my-menu">
    <li class="nav-links"><a href="#news">News</a></li>
    <li class="nav-links"><a href="#media">Media</a></li>
    <li class="nav-links"><a href="#photos">Photos</a></li>
    <!-- <li class="record-player-small"><%#= image_tag("small_record_menu_bar_black.png") %></li> -->
    <li class="nav-links"><a href="#bios">Bios</a></li>
    <li class="nav-links"><a href="#contact-us">Contact Us</a></li>

    <li class="social-icons" id="youtube">
      <a href="https://www.youtube.com/watch?v=vbXtjqzWq6M" target="_blank">
        <%= fa_icon "youtube-play" %>
      </a>
    </li>
    <li class="social-icons">
      <a href="https://www.twitter.com/bsideshuffle" target="_blank">
        <%= fa_icon "twitter" %>
      </a>
    </li>
    <li class="social-icons">
      <a href="https://www.bsideshuffle.tumblr.com" target="_blank">
        <%= fa_icon "tumblr" %>
      </a>
    </li>
    <li class="social-icons">
      <a href="https://www.instagram.com/bsideshuffle" target="_blank">
        <%= fa_icon "instagram" %>
      </a>
    </li>
    <li class="social-icons" id="facebook">
      <a href="https://www.facebook.com/bsideshuffle" target="_blank">
        <%= fa_icon "facebook" %>
      </a>
    </li>
    
  </ul>
</div>
<%= yield %>

</body>
</html>
